

<link rel="stylesheet" href="/css/header.css">
<header id="header-container">

   <div id="heading-container">
      <h1>TODO LIST</h1>
   </div>  
     
     
  <div id="authentication-container">   
     <ul>
          <% if(locals.user){ %>
                 <li>
                          <a href=""> <%=user.firstName%></a>
                </li>
                <li>
                     <a href="/user/sign-out">Sign Out</a>
                </li>
      
          <%}else{%>
              
                <li>
                     <a href="/user/sign-up">New User</a>
                </li>
 
                <li>
                     <a href="/user/login">Login</a>
                </li>
           <%}%>
      </ul>
  </div>


</header>