
<header id="headinf -container">
   
     
     <ul>
         
          <li>
                <a href="">Name</a>
          </li>

          <li>
               <a href="/user/login">Login</a>
          </li>
          <li>
               <a href="/user/sign-up">New User</a>
          </li>

     </ul>


</header>